﻿<nav id="sidebar" role="navigation" data-step="2" data-intro="Template has &lt;b&gt;many navigation styles&lt;/b&gt;" data-position="right" class="navbar-default navbar-static-side">
    <div class="sidebar-collapse menu-scroll">
        <ul id="side-menu" class="nav">
            <div class="clearfix"></div>

            <li>
                <a href="@Url.Action("Index", "Finance")">
                    <i class="fa fa-tachometer fa-fw">
                        <div class="icon-bg bg-orange"></div>
                    </i><span class="menu-title">Dashboard</span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("FundTable", "Finance")">
                    <i class="fa fa-database fa-fw">
                        <div class="icon-bg bg-green"></div>
                    </i><span class="menu-title">Funds</span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("ListRequest", "Finance")">
                    <i class="fa fa-th-list fa-fw">
                        <div class="icon-bg bg-green"></div>
                    </i><span class="menu-title">Request Funds</span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("ReportFunds", "Finance")">
                    <i class="fa fa-file-o fa-fw">
                        <div class="icon-bg bg-green"></div>
                    </i><span class="menu-title">Report Funds</span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("User", "Finance")">
                    <i class="fa fa-user fa-fw">
                        <div class="icon-bg bg-green"></div>
                    </i><span class="menu-title">User</span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("LogHistory", "Finance")">
                    <i class="fa fa-history fa-fw">
                        <div class="icon-bg bg-green"></div>
                    </i><span class="menu-title">Log History</span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("Guide", "Finance")">
                    <i class="fa fa-search fa-fw">
                        <div class="icon-bg bg-green"></div>
                    </i><span class="menu-title">Guide</span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("About", "Finance")">
                    <i class="fa fa-info fa-fw">
                        <div class="icon-bg bg-green"></div>
                    </i><span class="menu-title">About</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-key fa-fw">
                        <div class="icon-bg bg-green"></div>
                    </i><span class="menu-title">Logout</span>
                </a>
            </li>

        </ul>
    </div>
</nav>

