﻿@model LPE_Magac.Models.tbl_fund_income

@{
    ViewBag.Title = "FormIncome";
    Layout = "~/Views/Layout/_Finance.cshtml";
}
<!--BEGIN TITLE & BREADCRUMB PAGE-->
@using (Html.BeginForm())
{
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">
                Finance
            </div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a href="#">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="hidden"><a href="#">Funds</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">Funds</li>
        </ol>
        <div class="clearfix">
        </div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <!--BEGIN CONTENT-->
    <div class="page-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-body pan">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            Income Form
                        </div>
                        <div class="panel-body pan">
                            <form action="#">
                                <div class="form-body pal">
                                    <div class="form-group">
                                        <label for="Service" class="control-label">
                                            Service <i class="text-danger">*</i>
                                        </label>
                                        <div class="input-icon right">
                                            @Html.EditorFor(model => model.service_income, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.service_income, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName" class="control-label">
                                            Applicant <i class="text-danger">*</i>
                                        </label>
                                        <div class="input-icon right">
                                            @Html.EditorFor(model => model.applicant_income, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.applicant_income, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail" class="control-label">
                                            Total Funds <i class="text-danger">*</i>
                                        </label>
                                        <div class="input-icon right">
                                            <input id="total" type="text" class="form-control uang" onkeyup="OnChange(this.value)" onKeyPress="return isNumberKey(event)" } />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail" class="control-label">
                                            Tax 10%
                                        </label>
                                        <div class="input-icon right">
                                            <input id="tax" type="text" disabled="disabled" class="form-control uang" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail" class="control-label">
                                            Total Funds after Tax
                                        </label>
                                        <div class="input-icon right">
                                            @Html.EditorFor(model => model.total_fund_income, new { htmlAttributes = new { @class = "form-control uang", @name = "rupiah", @id = "totaltax", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.total_fund_income, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail" class="control-label">
                                            Date <i class="text-danger">*</i>
                                        </label>
                                        <div class="input-icon right">
                                            @Html.EditorFor(model => model.date_income, new { htmlAttributes = new { @class = "form - control", @type = "Date" } })
                                            @Html.ValidationMessageFor(model => model.date_income, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputMessage" class="control-label">
                                            Address<i class="text-danger">*</i>
                                        </label>
                                        <div class="input-icon right">
                                            @Html.TextAreaFor(model => model.address_income, new { htmlAttributes = new { @class = "form-control" }, rows = "3", cols = "141" })
                                            @Html.ValidationMessageFor(model => model.address_income, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputMessage" class="control-label">
                                            Details
                                        </label>
                                        <div class="input-icon right">
                                            @Html.TextAreaFor(model => model.details_income, new { htmlAttributes = new { @class = "form-control" }, rows = "10", cols = "141" })
                                            @Html.ValidationMessageFor(model => model.details_income, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions text-right pal">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    @Html.ActionLink("| Back to List", "FundTable")
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!--END CONTENT-->
<!--BEGIN FOOTER-->
<div id="footer">
    <div class="copyright">
        <a href="http://themifycloud.com">2014 © KAdmin Responsive Multi-Purpose Template</a>
    </div>
</div>
<!--END FOOTER-->
<script>
    function OnChange(value) {
        var p1 = document.getElementById('total').value;
        var p2 = document.getElementById('tax').value = (p1 * 10) / 100;
        var p3 = parseFloat(p1) + parseFloat(p2);
        document.getElementById('totaltax').value = p3;
    }
</script>