﻿@model LPE_Magac.ViewModel.FundsModel

@{
    ViewBag.Title = "FundTable";
    Layout = "~/Views/Layout/_Finance.cshtml";
    int a = 0;
    int b = 0;
}
<!--BEGIN TITLE & BREADCRUMB PAGE-->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">
            Finance
        </div>
    </div>
    <ol class="breadcrumb page-breadcrumb pull-right">
        <li>
            <i class="fa fa-home"></i>&nbsp;
            <a href="#">Home</a>&nbsp;&nbsp;
            <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
        </li>
        <li class="hidden">
            <a href="#">Funds</a>&nbsp;&nbsp;
            <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
        </li>
        <li class="active">Funds</li>
    </ol>
    <div class="clearfix">
    </div>
</div>
<!--END TITLE & BREADCRUMB PAGE-->
<!--BEGIN CONTENT-->
<div class="page-content">
    <div class="row">
        <div class="panel-body">
            <div class="btn-group">
                <a href="@Url.Action("FundReport", "Finance")" target="_blank"><button class="btn btn-success">Click here to View/Print Fund Report<i class="icon-plus icon-white"></i></button></a>
            </div>
        </div>
            <div class="col-lg-12">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        Income
                    </div>

                    <div class="panel-body">
                        <div class="btn-group">
                            <a href="@Url.Action("FormIncome", "Finance")"><button class="btn btn-success">Add New Income <i class="icon-plus icon-white"></i></button></a>
                        </div>
                        <div class="btn-group pull-right">
                            <a href="@Url.Action("ViewIncome", "Finance")" target="_blank"><button class="btn btn">Print or Save PDF<i class="icon-plus icon-white"></i></button></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="example1" class="table table-hover">
                                <thead style="text-align: center;">
                                    <tr>
                                        <th style="text-align: center;">No</th>
                                        <th style="text-align: center;">Date</th>
                                        <th style="text-align: center;">Service</th>
                                        <th style="text-align: center;">Applicant</th>
                                        <th style="text-align: center;">Total Funds</th>
                                        <th style="text-align: center;">Details</th>
                                        <th style="text-align: center;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Incomes.OrderBy(x => x.date_income).Reverse())
                                    {
                                        <tr>
                                            <td style="text-align: center;">
                                                <span>@(++a)</span>
                                            </td>
                                            <td>
                                                @Html.DisplayName(String.Format("{0:dd/MM/yyyy}", @item.date_income))
                                            </td>
                                            <td style="text-align: center;">
                                                @item.service_income
                                            </td>
                                            <td>
                                                @item.applicant_income
                                            </td>
                                            <td>
                                                @Html.DisplayFor(Modelitem => item.total_fund_income, new { htmlAttributes = new { @id = "rupiah" } })
                                            </td>
                                            <td>
                                                @item.details_income
                                            </td>
                                            <td style="text-align: center;">
                                                <a href="@Url.Action("ViewKwitansi", "Finance", new { id = item.pk_id_fund_income })" target="_blank"><button type="submit" class="btn btn-primary" title="Kwitansi"><i class="fa fa-file"></i></button></a>
                                                <a href="@Url.Action("ViewInvoice", "Finance", new { id = item.pk_id_fund_income })" target="_blank"><button type="submit" class="btn btn-primary" title="Invoice"><i class="fa fa-archive"></i></button></a>
                                                <a href="@Url.Action("IncomeEdit", "Finance", new { id = item.pk_id_fund_income })"><button type="submit" class="btn btn-primary" title="Edit"><i class="fa fa-edit"></i></button></a>
                                                <a href="@Url.Action("IncomeDelete", "Finance", new { id = item.pk_id_fund_income })"><button type="submit" class="btn btn-primary" title="Delete"><i class="fa fa-trash-o"></i></button></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        Outcome
                    </div>
                    <div class="panel-body">
                        <div class="btn-group">
                            <a href="@Url.Action("FormOutcome", "Finance")"><button class="btn btn-success">Request Fund <i class="icon-plus icon-white"></i></button></a>
                        </div>
                        <div class="btn-group pull-right">
                            <a href="@Url.Action("ViewOutcome", "Finance")" target="_blank" )"><button class="btn btn">Print or Save PDF<i class="icon-plus icon-white"></i></button></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="example2" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">No</th>
                                        <th style="text-align: center;">Date</th>
                                        <th style="text-align: center;">Service</th>
                                        <th style="text-align: center;">Applicant</th>
                                        <th style="text-align: center;">Price/Unit</th>
                                        <th style="text-align: center;">Quantity</th>
                                        <th style="text-align: center;">Total Funds</th>
                                        <th style="text-align: center;">Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Outcomes.Reverse())
                                    {
                                        <tr>
                                            <td style="text-align: center;">
                                                <span>@(++b)</span>
                                            </td>
                                            <td style="text-align: center;">
                                                @Html.DisplayName(String.Format("{0:dd/MM/yyyy}", @item.date_outcome))
                                            </td>
                                            <td>
                                                @item.service_outcome
                                            </td>
                                            <td>
                                                <!--user-->
                                                @item.applicant_outcome
                                            </td>
                                            <td>
                                                @Html.DisplayFor(Modelitem => item.price_per_unit_request, new { htmlAttributes = new { @id = "rupiah" } })
                                            </td>
                                            <td style="text-align: center;">
                                                @item.quantity_request
                                            </td>
                                            <td>
                                                @Html.DisplayFor(Modelitem => item.total_fund_outcome, new { htmlAttributes = new { @id = "rupiah" } })
                                            </td>
                                            <td>
                                                @item.details_outcome
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--END CONTENT-->
<!--BEGIN FOOTER-->
<div id="footer">
    <div class="copyright">
        <a href="http://themifycloud.com">2014 © KAdmin Responsive Multi-Purpose Template</a>
    </div>
</div>
<!--END FOOTER-->
