﻿
@{
    ViewBag.Title = "Guide";
    Layout = "~/Views/Layout/_Finance.cshtml";
}

<!--BEGIN TITLE & BREADCRUMB PAGE-->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">
            Finance
        </div>
    </div>
    <ol class="breadcrumb page-breadcrumb pull-right">
        <li><i class="fa fa-home"></i>&nbsp;<a href="#">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="hidden"><a href="#">Dashboard</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">Dashboard</li>
    </ol>
    <div class="clearfix">
    </div>
</div>
<!--END TITLE & BREADCRUMB PAGE-->
<!--BEGIN CONTENT-->
<div class="page-content">
    <div id="tab-general">
        <div class="row mbl">
            <div class="col-lg-12">
                <div class="col-md-12">
                    <div id="area-chart-spline" style="width: 100%; height: 300px; display: none;">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="page-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel">
                                <div class="panel-body">
                                    <div id="grid-layout-table-1" class="box jplist">
                                        <div class="jplist-ios-button"><i class="fa fa-sort"></i>jPList Actions</div>
                                        <div class="jplist-panel box panel-top">

                                            <div data-control-type="drop-down" data-control-name="paging" data-control-action="paging" class="jplist-drop-down form-control" hidden data-number="1">
                                                <ul class="dropdown-menu">
                                                    <li><span data-number="1"> 1 per page</span></li>
                                                </ul>
                                            </div>
                                            <div data-type="Page {current} of {pages}" data-control-type="pagination-info" data-control-name="paging" data-control-action="paging" class="jplist-label btn btn-default"></div>
                                            <div data-control-type="pagination" data-control-name="paging" data-control-action="paging" class="jplist-pagination"></div>
                                        </div>
                                        <div class="box text-shadow">
                                            <table class="demo-tbl">
                                                <!--<item>1</item>-->
                                                <tr class="tbl-item">
                                                    <!--<img/>-->
                                                    <td class="img"><img src="~/Content/guideimage/Finance/1.png" style="width: 100%" /></td>
                                                    <!--<data></data>-->
                                                </tr>
                                                <!--<item>2</item>-->
                                                <tr class="tbl-item">
                                                    <!--<img/>-->
                                                    <td class="img"><img src="~/Content/guideimage/Finance/2.png" style="width: 100%" /></td>
                                                    <!--<data></data>-->
                                                </tr>
                                                <tr class="tbl-item">
                                                    <!--<img/>-->
                                                    <td class="img"><img src="~/Content/guideimage/Finance/3.png" style="width: 100%" /></td>
                                                    <!--<data></data>-->
                                                </tr>
                                                <tr class="tbl-item">
                                                    <!--<img/>-->
                                                    <td class="img"><img src="~/Content/guideimage/Finance/4.png" style="width: 100%" /></td>
                                                    <!--<data></data>-->
                                                </tr>
                                                <!--<item>2</item>-->
                                                <tr class="tbl-item">
                                                    <!--<img/>-->
                                                    <td class="img"><img src="~/Content/guideimage/Finance/5.png" style="width: 100%" /></td>
                                                    <!--<data></data>-->
                                                </tr>
                                                <tr class="tbl-item">
                                                    <!--<img/>-->
                                                    <td class="img"><img src="~/Content/guideimage/Finance/6.png" style="width: 100%" /></td>
                                                    <!--<data></data>-->
                                                </tr>
                                                <tr class="tbl-item">
                                                    <!--<img/>-->
                                                    <td class="img"><img src="~/Content/guideimage/Finance/7.png" style="width: 100%" /></td>
                                                    <!--<data></data>-->
                                                </tr>
                                                <tr class="tbl-item">
                                                    <!--<img/>-->
                                                    <td class="img"><img src="~/Content/guideimage/Finance/8.png" style="width: 100%" /></td>
                                                    <!--<data></data>-->
                                                </tr>
                                                <!--<item>2</item>-->
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END CONTENT-->
<!--BEGIN FOOTER-->
<div id="footer">
    <div class="copyright">
        <a href="http://themifycloud.com">2014 © KAdmin Responsive Multi-Purpose Template</a>
    </div>
</div>
<!--END FOOTER-->
