﻿
@{
    ViewBag.Title = "Laporan";
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>LPE MAGAC</title>
    <link href="../assets/laporan.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="pilih_laporan">
        <table width="95%" border="0" align="center">
            <tr>
                <td align="center">
                    <form id="form_filter" name="form_filter" method="post" action="<?php $_SERVER['PHP_SELF']; ?>">
                        Date In :
                        <input type="date" name="tanggalawal" class="span8">
                        Date Out :
                        <input type="date" name="tanggalakhir" class="span8">
                        <input type="submit" name="button_filter" id="button_filter" value="Filter" />
                        <input type="submit" name="button_print" id="button_print" value="Print" onClick="print()" />
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <div id="tampil_laporan">
        <table width="95%" align="center" border="1">
            <tr>
                <td colspan="7" align="center">
                    <img src="../images/logo1.png" width="100px" height="100px" align="left">
                    <h1>PT. Lintas Prima Energi</h1><p>
                        Alamat : GEDUNG AKLI, Jl. KH. Abdullah Syafi’ie No. 37, Lapangan Roos, Tebet, Jakarta Selatan 12840
                        Tlp. / Fax. +6221 83795355. E-mail : lintasprimaenergi@gmail.com
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="7" align="center" class="judul_laporan">
                    <p>Funds Report</p>
                    <p>Date :  to </p>
                </td>
            </tr>
            <tr class="header_footer">
                <td style="text-align: center;">No</td>
                <td style="text-align: center;">Date</td>
                <td style="text-align: center;">Service</td>
                <td style="text-align: center;">Aplicant</td>
                <td style="text-align: center;">Income Funds</td>
                <td style="text-align: center;">Outcome Funds</td>
                <td style="text-align: center;">Balance</td>
            </tr>
            <tr class="isi_laporan">
                <td>1</td>
                <td>08/10/2020</td>
                <td>Pembayaran Listrik Bulan September 2020</td>
                <td>Henry</td>
                <td></td>
                <td>Rp. 3000000</td>
                <td>Rp. 127000000</td>
            </tr>
        </table>
    </div>
</body>
</html>