﻿@model IEnumerable<LPE_Magac.Models.tbl_user>

@{
    ViewBag.Title = "Liatuser";
    Layout = "~/Views/Layout/_Finance.cshtml";
}

<h2>Liatuser</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.user_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_profile_picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_register.register_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.user_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_position)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_profile_picture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_register.register_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.pk_id_user }) |
            @Html.ActionLink("Details", "Details", new { id=item.pk_id_user }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.pk_id_user })
        </td>
    </tr>
}

</table>
