﻿
@{
    ViewBag.Title = "ListRequest";
}

<!--BEGIN TITLE & BREADCRUMB PAGE-->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">
            Finance
        </div>
    </div>
    <ol class="breadcrumb page-breadcrumb pull-right">
        <li><i class="fa fa-home"></i>&nbsp;<a href="dashboard.html">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="hidden"><a href="#">List Request Funds</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">List Request Funds</li>
    </ol>
    <div class="clearfix">
    </div>
</div>
<!--END TITLE & BREADCRUMB PAGE-->
<!--BEGIN CONTENT-->
<div class="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    List Request Funds
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="example" class="table table-hover">
                            <thead>
                                <tr align="center">
                                    <th style="text-align: center;">No</th>
                                    <th style="text-align: center;">Date</th>
                                    <th style="text-align: center;">Name</th>
                                    <th style="text-align: center;">Service</th>
                                    <th style="text-align: center;">Quantity</th>
                                    <th style="text-align: center;">Price/Unit</th>
                                    <th style="text-align: center;">Total Funds</th>
                                    <th style="text-align: center;">Details</th>
                                    <th style="text-align: center;">Status</th>
                                    <th style="text-align: center;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="success">
                                    <td style="text-align: center;">1</td>
                                    <td style="text-align: center;">08/10/2020</td>
                                    <td style="text-align: center;">Henry</td>
                                    <td style="text-align: center;">Pembayaran Listrik</td>
                                    <td style="text-align: center;">1</td>
                                    <td style="text-align: center;">Rp. 3000000</td>
                                    <td style="text-align: center;">Rp. 3000000</td>
                                    <td style="text-align: center;">Pembayaran Listrik Bulan September 2020</td>
                                    <td style="text-align: center;"><span class="label label-sm label-success">Approved Director</span></td>
                                    <td style="text-align: center;"><button type="submit" class=" btn-primary">Print Invoice</button></td>
                                </tr>
                                <tr class="info">
                                    <td style="text-align: center;">2</td>
                                    <td style="text-align: center;">08/10/2020</td>
                                    <td style="text-align: center;">John</td>
                                    <td style="text-align: center;">Pejalanan ke Batam</td>
                                    <td style="text-align: center;">1</td>
                                    <td style="text-align: center;">Rp. 2000000</td>
                                    <td style="text-align: center;">Rp. 2000000</td>
                                    <td style="text-align: center;">Tiket Pesawat Pulang dan Pergi</td>
                                    <td style="text-align: center;"><span class="label label-sm label-info">Send Director</span></td>
                                    <td>Approved</td>
                                </tr>
                                <tr class="warning">
                                    <td style="text-align: center;">3</td>
                                    <td style="text-align: center;">08/10/2020</td>
                                    <td style="text-align: center;">Larry</td>
                                    <td style="text-align: center;" style="text-align: center;">Pembelian Laptop</td>
                                    <td style="text-align: center;">5</td>
                                    <td style="text-align: center;">Rp. 4000000</td>
                                    <td style="text-align: center;">Rp. 20000000</td>
                                    <td style="text-align: center;">Pembelian 4 Buah Laptop Lenovo dengan Spesifikasi AMD9</td>
                                    <td style="text-align: center;"><span class="label label-sm label-warning">Request Funds</span></td>
                                    <td style="text-align: center;"><button type="submit" class=" btn-success" style="margin-right: 3px">Approved</button><button type="submit" class=" btn-danger">Blocked</button></td>
                                </tr>
                                <tr class="danger">
                                    <td style="text-align: center;">4</td>
                                    <td style="text-align: center;">08/10/2020</td>
                                    <td style="text-align: center;">Lahm</td>
                                    <td style="text-align: center;">Perjalanan ke Puncak</td>
                                    <td style="text-align: center;">1</td>
                                    <td style="text-align: center;">Rp. 3000000</td>
                                    <td style="text-align: center;">Rp. 3000000</td>
                                    <td style="text-align: center;">Pembelian bensin dan sewa mobil</td>
                                    <td style="text-align: center;"><span class="label label-sm btn-danger">Blocked Director</span></td>
                                    <td style="text-align: center;">Blocked</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END CONTENT-->
<!--BEGIN FOOTER-->
<div id="footer">
    <div class="copyright">
        <a href="http://themifycloud.com">2014 © KAdmin Responsive Multi-Purpose Template</a>
    </div>
</div>
<!--END FOOTER-->
