﻿@model LPE_Magac.ViewModel.ListError
@{
    ViewBag.Title = "LogHistory";
    Layout = "~/Views/Layout/_Finance.cshtml";
    int a = 0;
    var name = Session["userName"];
}

<!--BEGIN TITLE & BREADCRUMB PAGE-->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">
            Finance
        </div>
    </div>
    <ol class="breadcrumb page-breadcrumb pull-right">
        <li><i class="fa fa-home"></i>&nbsp;<a href="#">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="hidden"><a href="#">Log History</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">Log History</li>
    </ol>
    <div class="clearfix">
    </div>
</div>
<!--END TITLE & BREADCRUMB PAGE-->
<!--BEGIN CONTENT-->
<div class="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    Log History
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="example1" class="table table-hover">
                            <thead style="text-align: center;">
                                <tr>
                                    <th style="text-align: center;">No</th>
                                    <th style="text-align: center;">Id</th>
                                    <th style="text-align: center;">User Login</th>
                                    <th style="text-align: center;">Action Date</th>
                                    <th style="text-align: center;">Error Message</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Errors.Reverse())
                                {
                                    <tr>
                                        <td style="text-align: center;">
                                            <span>@(++a)</span>
                                        </td>
                                        <td style="text-align: center; ">
                                            <!--Username-->
                                            @item.fk_id_user
                                        </td>
                                        <td style="text-align: center; ">
                                            <!--Username-->
                                            @item.user_name
                                        </td>
                                        <td style="text-align: center;">
                                            @Html.DisplayName(String.Format("{0:dd/MM/yyyy}", @item.Action_date))
                                        </td>
                                        <td>
                                            @item.ErrorMessage
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END CONTENT-->
<!--BEGIN FOOTER-->
<div id="footer">
    <div class="copyright">
        <a href="http://themifycloud.com">2014 © KAdmin Responsive Multi-Purpose Template</a>
    </div>
</div>
<!--END FOOTER-->
                </div>
<!--END PAGE WRAPPER-->