﻿@model LPE_Magac.Models.tr_fund_outcome

@{
    ViewBag.Title = "OutcomeEdit";
    Layout = "~/Views/Layout/_Finance.cshtml";
}

<!--BEGIN TITLE & BREADCRUMB PAGE-->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">
                Finance
            </div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a href="#">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="hidden"><a href="#">Funds</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">Funds</li>
        </ol>
        <div class="clearfix">
        </div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <!--BEGIN CONTENT-->
    <div class="page-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-body pan">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            Outcome Form
                        </div>
                        <div class="panel-body pan">
                            <form action="#">
                                <div class="form-body pal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.pk_id_fund_outcome)

                                    <div class="form-group">
                                        <label for="Service" class="control-label">
                                            Service
                                        </label>
                                        <div class="input-icon right">
                                            @Html.EditorFor(model => model.service_outcome, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.service_outcome, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputName" class="control-label">
                                            Applicant
                                        </label>
                                        <div class="input-icon right">

                                            @Html.EditorFor(model => model.applicant_outcome, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.applicant_outcome, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputName" class="control-label">
                                            Quantity
                                        </label>
                                        <div class="input-icon right">
                                            @Html.EditorFor(model => model.quantity_request, new { htmlAttributes = new { @class = "form-control", @id = "quantity", @type = "text", @onkeyup = "OnChange(this.value)", @onKeyPress = "return isNumberKey(event)" } })
                                            @Html.ValidationMessageFor(model => model.quantity_request, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail" class="control-label">
                                            Price/Unit
                                        </label>
                                        <div class="input-icon right">
                                            @Html.EditorFor(model => model.price_per_unit_request, new { htmlAttributes = new { @class = "form-control", @id = "price", @type = "text", @onkeyup = "OnChange(this.value)", @onKeyPress = "return isNumberKey(event)" } })
                                            @Html.ValidationMessageFor(model => model.price_per_unit_request, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail" class="control-label">
                                            Total Funds
                                        </label>
                                        <div class="input-icon right">
                                            @Html.EditorFor(model => model.total_fund_outcome, new { htmlAttributes = new { @id = "total", @class = "form-control", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.total_fund_outcome, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputEmail" class="control-label">
                                            Date
                                        </label>
                                        <div class="input-icon right">
                                            @Html.EditorFor(model => model.date_outcome, new { htmlAttributes = new { @class = "form - control", @type = "Date" } })
                                            @Html.ValidationMessageFor(model => model.date_outcome, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputMessage" class="control-label">
                                            Details
                                        </label>
                                        <div class="input-icon right">
                                            @Html.EditorFor(model => model.details_outcome, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.details_outcome, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-actions text-right pal">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                    @Html.ActionLink("Back to List", "Fundtable")
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!--END CONTENT-->
<!--BEGIN FOOTER-->
<div id="footer">
    <div class="copyright">
        <a href="http://themifycloud.com">2014 © KAdmin Responsive Multi-Purpose Template</a>
    </div>
</div>
<!--END FOOTER-->
<script>
    function OnChange(value) {
            var p1 = document.getElementById('quantity').value;
            var p2 = document.getElementById('price').value;
            document.getElementById('total').value = p1 * p2;
        }
</script>