﻿@model LPE_Magac.Models.tr_fund_outcome

@{
    ViewBag.Title = "OutcomeDelete";
    Layout = "~/Views/Layout/_Finance.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">
                Finance
            </div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a href="#">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="hidden"><a href="#">Funds</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">Funds</li>
        </ol>
        <div class="clearfix">
        </div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <!--BEGIN CONTENT-->

    <div class="page-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-body pan">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            Outcome Form
                        </div>
                        <div class="panel-body pan">
                            <form action="#">
                                <div class="form-body pal">

                                    <div class="form-group">
                                        <label for="Service" class="control-label">
                                            Service
                                        </label>
                                        <div class="input-icon right">
                                            @Html.DisplayFor(model => model.service_outcome)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputName" class="control-label">
                                            Applicant
                                        </label>
                                        <div class="input-icon right">

                                            @Html.DisplayFor(model => model.applicant_outcome)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputMessage" class="control-label">
                                            Price/Unit
                                        </label>
                                        <div class="input-icon right">
                                            @Html.DisplayFor(model => model.price_per_unit_request)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputMessage" class="control-label">
                                            Quantity
                                        </label>
                                        <div class="input-icon right">
                                            @Html.DisplayFor(model => model.quantity_request)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputEmail" class="control-label">
                                            Total Funds
                                        </label>
                                        <div class="input-icon right">

                                            @Html.DisplayFor(model => model.total_fund_outcome)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputEmail" class="control-label">
                                            Date
                                        </label>
                                        <div class="input-icon right">
                                            @Html.DisplayFor(model => model.date_outcome)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputMessage" class="control-label">
                                            Details
                                        </label>
                                        <div class="input-icon right">
                                            @Html.DisplayFor(model => model.details_outcome)
                                        </div>
                                    </div>
                                </div>

                                <div class="form-actions no-color">
                                    <input type="submit" value="Delete" class="btn btn-default" /> |
                                    @Html.ActionLink("Back to List", "Fundtable")
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!--END CONTENT-->
<!--BEGIN FOOTER-->
<div id="footer">
    <div class="copyright">
        <a href="http://themifycloud.com">2014 © KAdmin Responsive Multi-Purpose Template</a>
    </div>
</div>
<!--END FOOTER-->
