﻿@model LPE_Magac.ViewModel.InvoiceModel
@{
    ViewBag.Title = "ApproveListRequest";
    Layout = "~/Views/Layout/_Finance.cshtml";
}

@using (Html.BeginForm("RejectListRequest", "Finance", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">
                Finance
            </div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a href="#">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="hidden"><a href="#">List Request</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">List Request</li>
        </ol>
        <div class="clearfix">
        </div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <!--BEGIN CONTENT-->
    <div class="page-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-body pan">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            Request Fund
                        </div>
                        <div class="panel-body pan">
                            <form action="#">
                                <div class="form-body pal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.Fund_Request.pk_id_fund_request)
                                    <div class="form-group">
                                        <label for="inputEmail" class="control-label">
                                            Date
                                        </label>
                                        <div class="input-icon right">
                                            @Html.EditorFor(model => model.Fund_Request.date_request, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="Service" class="control-label">
                                            Service
                                        </label>
                                        <div class="input-icon right">
                                            @Html.EditorFor(model => model.Fund_Request.service_request, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputName" class="control-label">
                                            Applicant
                                        </label>
                                        <div class="input-icon right">
                                            @Html.EditorFor(model => model.Fund_Request.applicant_request, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputMessage" class="control-label">
                                            Quantity
                                        </label>
                                        <div class="input-icon right">
                                            @Html.EditorFor(model => model.Fund_Request.quantity_request, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputMessage" class="control-label">
                                            Price/Unit
                                        </label>
                                        <div class="input-icon right">
                                            @Html.EditorFor(model => model.Fund_Request.price_per_unit_request, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputEmail" class="control-label">
                                            Total Funds
                                        </label>
                                        <div class="input-icon right">
                                            @Html.EditorFor(model => model.Fund_Request.total_value, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="inputMessage" class="control-label">
                                            Details
                                        </label>
                                        <div class="input-icon right">
                                            @Html.EditorFor(model => model.Fund_Request.details_request, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputMessage" class="control-label">
                                            Details Reject
                                        </label>
                                        <div class="input-icon right">
                                            @Html.TextAreaFor(model => model.Invoice_Finance.details, new { htmlAttributes = new { @class = "form-control", @rows = "5", @style = "width: 1007px; height: 160px;" } })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-actions text-right pal">
                                    <a href=""></a><button type="submit" class="btn btn-primary">Save</button>
                                    @Html.ActionLink("Back to List", "ListRequest")
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!--END CONTENT-->
<!--BEGIN FOOTER-->
<div id="footer">
    <div class="copyright">
        <a href="http://themifycloud.com">2014 © KAdmin Responsive Multi-Purpose Template</a>
    </div>
</div>
<!--END FOOTER-->
