﻿@model LPE_Magac.Models.tbl_temp_user
@{
    ViewBag.Title = "RejectEditUser";
    Layout = "~/Views/Layout/_Finance.cshtml";
}

<h2>RejectEditUser</h2>
<!--BEGIN TITLE & BREADCRUMB PAGE-->
@using (Html.BeginForm("RejectEditUser", "Finance", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">
                Finance
            </div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a href="#">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="hidden"><a href="#">User</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">User</li>
        </ol>
        <div class="clearfix">
        </div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <!--BEGIN CONTENT-->
    <div class="page-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-body pan">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            Reject Edit Details
                        </div>
                        <div class="panel-body pan">
                            <form action="#">
                                <div class="form-body pal">

                                    <div class="form-group">
                                        <label for="inputName" class="control-label">
                                            Name <i class="text-danger">*</i>
                                        </label>
                                        <div class="input-icon right">
                                            <i class="fa fa-user"></i>
                                            @Html.EditorFor(model => model.temp_user_name, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                        </div>
                                    </div>

                                    @Html.EditorFor(model => model.pk_id_temp_user, new { htmlAttributes = new { @class = "form-control hidden", disabled = "disabled" } })

                                    <div class="form-group">
                                        <label for="inputEmail" class="control-label">
                                            E-mail <i class="text-danger">*</i>
                                        </label>
                                        <div class="input-icon right">
                                            <i class="fa fa-envelope"></i>
                                            @Html.EditorFor(model => model.temp_user_email, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPosition" class="control-label">
                                            Position <i class="text-danger">*</i>
                                        </label>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                @Html.EditorFor(model => model.temp_user_position, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="register_profile_picture" class="control-label">
                                            Inlcude Your Photo Profile <i class="text-danger">*</i>
                                        </label>
                                        <div class="row">
                                            <img src="~/Content/images/avatar/@Html.DisplayFor(model => model.temp_user_profile_picture)" height="300px" width="300px" style="margin-left:14px;">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputMessage" class="control-label">
                                            Address <i class="text-danger">*</i>
                                        </label>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                @Html.TextAreaFor(model => model.temp_user_address, new { htmlAttributes = new { @class = "form-control resizer", disabled = "disabled" }, rows = "10", cols = "82" })
                                            </div>
                                        </div>

                                        @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control hidden", @Value = "accepted", @text = "accepted", @values = "accepted" } })

                                        <div class="form-actions text-right pal">
                                            <button type="submit" class="btn btn-primary">
                                                Submit
                                            </button>
                                            @Html.ActionLink("| Back to List", "User")
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!--END CONTENT-->
<!--BEGIN FOOTER-->
<div id="footer">
    <div class="copyright">
        <a href="http://themifycloud.com">2014 © KAdmin Responsive Multi-Purpose Template</a>
    </div>
</div>
<!--END FOOTER-->
