﻿
@{
    ViewBag.Title = "ReportFunds";
}
<!--BEGIN TITLE & BREADCRUMB PAGE-->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">
            Finance
        </div>
    </div>
    <ol class="breadcrumb page-breadcrumb pull-right">
        <li><i class="fa fa-home"></i>&nbsp;<a href="dashboard.html">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="hidden"><a href="#">Dashboard</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">Report Funds</li>
    </ol>
    <div class="clearfix">
    </div>
</div>
<!--END TITLE & BREADCRUMB PAGE-->
<!--BEGIN CONTENT-->
<div class="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    Report Fund Table
                </div>
                <div class="panel-body">
                    <div class="btn-group pull-right">
                        <a href="@Url.Action("Laporan", "Finance")" target="_blank"><button class="btn btn">Print or Save PDF<i class="icon-plus icon-white"></i></button></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="example" class="table table-hover">
                            <thead style="text-align: center;">
                                <tr>
                                    <th style="text-align: center;">No</th>
                                    <th style="text-align: center;">Date</th>
                                    <th style="text-align: center;">Service</th>
                                    <th style="text-align: center;">Applicant</th>
                                    <th style="text-align: center;">Income</th>
                                    <th style="text-align: center;">Outcome</th>
                                    <th style="text-align: center;">Balance</th>
                                    <th style="text-align: center;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: center;">1</td>
                                    <td style="text-align: center;">08/10/2020</td>
                                    <td style="text-align: center;">Pembayaran SLO</td>
                                    <td style="text-align: center;">PT Dirgantara</td>
                                    <td style="text-align: center;">Rp. 30000000</td>
                                    <td style="text-align: center;"></td>
                                    <td style="text-align: center;">Rp. 127000000</td>
                                    <td style="text-align: center;"><button type="submit" class="btn btn-primary" style="margin-right: 3px">Edit</button><button type="submit" class="btn btn-primary">Delete</button></td></td>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--END CONTENT-->
<!--BEGIN FOOTER-->
<div id="footer">
    <div class="copyright">
        <a href="http://themifycloud.com">2014 © KAdmin Responsive Multi-Purpose Template</a>
    </div>
</div>
<!--END FOOTER-->
