﻿@model IEnumerable<LPE_Magac.ViewModel.JoinModel>
@{
    ViewBag.Title = "ReportFunds";
    Layout = "~/Views/Layout/_Finance.cshtml";
    int a = 0;
}
<!--BEGIN TITLE & BREADCRUMB PAGE-->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">
            Finance
        </div>
    </div>
    <ol class="breadcrumb page-breadcrumb pull-right">
        <li><i class="fa fa-home"></i>&nbsp;<a href="#">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="hidden"><a href="#">Dashboard</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">Report Funds</li>
    </ol>
    <div class="clearfix">
    </div>
</div>
<!--END TITLE & BREADCRUMB PAGE-->
<!--BEGIN CONTENT-->
<div class="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    Report Fund Table
                </div>
                <div class="panel-body">
                    <div class="btn-group pull-right">
                        <a href="@Url.Action("FundReport", "Finance")" target="_blank"><button class="btn btn">Print or Save PDF<i class="icon-plus icon-white"></i></button></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="example" class="table table-hover">
                            <thead style="text-align: center;">
                                <tr>
                                    <th style="text-align: center;">No</th>
                                    <th style="text-align: center;">Date</th>
                                    <th style="text-align: center;">Service</th>
                                    <th style="text-align: center;">Applicant</th>
                                    <th style="text-align: center;">Income</th>
                                    <th style="text-align: center;">Outcome</th>
                                    <th style="text-align: center;">Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--DataReport disini-->
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td style="text-align: center;">
                                        <span>@(++a)</span>
                                    </td>
                                    @if (item.report.fk_id_fund_income == item.income.pk_id_fund_income)
                                    {
                                        <td>@Html.DisplayFor(modelItem => item.income.date_income)</td>
                                        <td>@Html.DisplayFor(modelItem => item.income.service_income)</td>
                                        <td>@Html.DisplayFor(modelItem => item.income.applicant_income)</td>
                                        <td>@Html.DisplayFor(modelItem => item.income.total_fund_income)</td>
                                        <td></td>
                                        <td>@Html.DisplayFor(modelItem => item.report.balance)</td>
                                    }
                                    else
                                    {
                                        <td>@Html.DisplayFor(modelItem => item.outcome.date_outcome)</td>
                                        <td>@Html.DisplayFor(modelItem => item.outcome.service_outcome)</td>
                                        <td>@Html.DisplayFor(modelItem => item.outcome.applicant_outcome)</td>
                                        <td></td>
                                        <td>@Html.DisplayFor(modelItem => item.outcome.total_fund_outcome)</td>
                                        <td>@Html.DisplayFor(modelItem => item.report.balance)</td>
                                    }
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--END CONTENT-->
<!--BEGIN FOOTER-->
<div id="footer">
    <div class="copyright">
        <a href="http://themifycloud.com">2014 © KAdmin Responsive Multi-Purpose Template</a>
    </div>
</div>
<!--END FOOTER-->