﻿@model LPE_Magac.ViewModel.ListUser
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Layout/_Finance.cshtml";
    int a = 0;
    int b = 0;
    int c = 0;
}

<!--BEGIN TITLE & BREADCRUMB PAGE-->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">
            Finance
        </div>
    </div>
    <ol class="breadcrumb page-breadcrumb pull-right">
        <li><i class="fa fa-home"></i>&nbsp;<a href="#">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="hidden"><a href="#">List User</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">List User</li>
    </ol>
    <div class="clearfix">
    </div>
</div>
<!--END TITLE & BREADCRUMB PAGE-->
<!--BEGIN CONTENT-->
<div class="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    List Request User
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="example1" class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">No</th>
                                    <th style="text-align: center;">Name</th>
                                    <th style="text-align: center;">Email</th>
                                    <th style="text-align: center;">Position</th>
                                    <th style="text-align: center;">Address</th>
                                    <th style="text-align: center;">Profil Picture</th>
                                    <th style="text-align: center;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Registers.Reverse())
                                {
                                    <tr>
                                        <td style="text-align: center;">
                                            <span>@(++a)</span>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.register_name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.register_email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.register_position)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.register_address)
                                        </td>
                                        <td style="text-align: center;">
                                            @if(item.register_profile_picture != null){
                                                <a class="fancybox" href="~/Content/images/avatar/@Html.DisplayFor(modelItem => item.register_profile_picture)" target="_blank"> <button class="btn-default">Image</button></a>
                                            }
                                        </td>
                                        <td style="text-align: center;">
                                            <a href="@Url.Action("AccReqisterUser","Finance",new { id=item.pk_id_register })"><button class="btn-success" style="margin-right: 3px">Approve</button></a>
                                            <a href="@Url.Action("BlockRegister","Finance",new { id=item.pk_id_register })"><button class=" btn-danger">Reject</button></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    List Edit User
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="example2" class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">No</th>
                                    <th style="text-align: center;">Name</th>
                                    <th style="text-align: center;">Email</th>
                                    <th style="text-align: center;">Position</th>
                                    <th style="text-align: center;">Address</th>
                                    <th style="text-align: center;">Profil Picture</th>
                                    <th style="text-align: center;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Temp_Users.Reverse())
                                {
                                    <tr>
                                        <td style="text-align: center;">
                                            <span>@(++b)</span>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.temp_user_name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.temp_user_email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.temp_user_position)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.temp_user_address)
                                        </td>
                                        <td style="text-align: center;">
                                            @if (item.temp_user_profile_picture != null || item.temp_user_profile_picture == "")
                                            {
                                                <a class="fancybox" href="~/Content/images/avatar/@Html.DisplayFor(modelItem => item.temp_user_profile_picture)" target="_blank"> <button class="btn-default">Image</button></a>
                                            }
                                        </td>
                                        <td style="text-align: center;">
                                            <a href="@Url.Action("AccEditUser","Finance",new { id=item.pk_id_temp_user })"><button class="btn-success" style="margin-right: 3px">Approve</button></a>
                                            <a href="@Url.Action("RejectEditUser","Finance",new { id=item.pk_id_temp_user })"><button class=" btn-danger">Reject</button></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    List User
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="example3" class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="text-align: center;">No</th>
                                    <th style="text-align: center;">Name</th>
                                    <th style="text-align: center;">Email</th>
                                    <th style="text-align: center;">Position</th>
                                    <th style="text-align: center;">Address</th>
                                    <th style="text-align: center;">Profil Picture</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Users.Reverse())
                                {
                                    <tr>
                                        <td style="text-align: center;">
                                            <span>@(++c)</span>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.user_name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.user_email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.user_position)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.user_address)
                                        </td>
                                        <td style="text-align: center;">
                                            @if (item.user_profile_picture != null)
                                            {
                                                <a class="fancybox" href="~/Content/images/avatar/@Html.DisplayFor(modelItem => item.user_profile_picture)" target="_blank"> <button class="btn-default">Image</button></a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END CONTENT-->
<!--BEGIN FOOTER-->
<div id="footer">
    <div class="copyright">
        <a href="http://themifycloud.com">2014 © KAdmin Responsive Multi-Purpose Template</a>
    </div>
</div>
<!--END FOOTER-->
