﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_Technician.cshtml";
    var name = Session["userName"];
    var email = Session["userEmail"];
    var address = Session["userAddress"];
    var pp = Session["userPicture"];
    var position = Session["userPosition"];
}

<!--BEGIN TITLE & BREADCRUMB PAGE-->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">
            Technician
        </div>
    </div>
    <ol class="breadcrumb page-breadcrumb pull-right">
        <li><i class="fa fa-home"></i>&nbsp;<a href="#">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="hidden"><a href="#">Dashboard</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">Dashboard</li>
    </ol>
    <div class="clearfix">
    </div>
</div>
<!--END TITLE & BREADCRUMB PAGE-->
<!--BEGIN CONTENT-->
<div class="page-content">
    <div id="tab-general">
        <div class="row mbl">
            <div class="col-lg-12">
                <div class="col-md-12">
                    <div id="area-chart-spline" style="width: 100%; height: 300px; display: none;">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-12" align="center">
                        <h2>Welcome to Magac @name</h2>
                        <div class="row mtl">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-6">
                                <div class="text-center mbl">
                                    <img src="~/Content/images/avatar/@pp" alt="" class="img-responsive" align="center">
                                </div>
                                <table class="table table-striped table-hover">
                                    <tbody>
                                        <tr>
                                            <td>User Name</td>
                                            <td>@name</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td>@email</td>
                                        </tr>
                                        <tr>
                                            <td>Address</td>
                                            <td>@address</td>
                                        </tr>
                                        <tr>
                                            <td>Status</td>
                                            <td><span class="label label-success">Active</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END CONTENT-->
<!--BEGIN FOOTER-->
<div id="footer">
    <div class="copyright">
        <a href="http://themifycloud.com">2014 © KAdmin Responsive Multi-Purpose Template</a>
    </div>
</div>
<!--END FOOTER-->
