﻿@model IEnumerable<LPE_Magac.ViewModel.InvoiceModel>
@{
    ViewBag.Title = "ListRequestFunds";
    Layout = "~/Views/Layout/_Technician.cshtml";
    var a = 0;
    var id = (int)Session["userID"];
}

<!--BEGIN TITLE & BREADCRUMB PAGE-->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">
            Technician
        </div>
    </div>
    <ol class="breadcrumb page-breadcrumb pull-right">
        <li><i class="fa fa-home"></i>&nbsp;<a href="#">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="hidden"><a href="#">List Request Funds</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">List Request Funds</li>
    </ol>
    <div class="clearfix">
    </div>
</div>
<!--END TITLE & BREADCRUMB PAGE-->
<!--BEGIN CONTENT-->
<div class="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    List Request Funds
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="example1" class="table table-hover">
                            <thead>
                                <tr align="center">
                                    <th>No</th>
                                    <th>Date</th>
                                    <th>Service</th>
                                    <th>Quantity</th>
                                    <th>Price/Unit</th>
                                    <th>Total Funds</th>
                                    <th>Details</th>
                                    <th>Status</th>
                                    <th>Details Status From Director/Finance</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Where(x => x.Fund_Request.fk_id_user == id).OrderBy(x => x.Fund_Request.date_request).Reverse())
                                {
                                    if (item.Fund_Request.status_request == "Send Fin" && (DateTime.Now - item.Fund_Request.date_request <= TimeSpan.FromDays(3)))
                                    {
                                        <tr class="info">
                                            <td style="text-align: center;">@(++a)</td>
                                            <td>@Html.DisplayName(String.Format("{0:dd/MM/yyyy}", @item.Fund_Request.date_request))</td>
                                            <td>@item.Fund_Request.service_request</td>
                                            <td style="text-align: center;">@item.Fund_Request.quantity_request</td>
                                            <td>@Html.DisplayFor(Modelitem => item.Fund_Request.price_per_unit_request, new { htmlAttributes = new { @id = "rupiah" } })</td>
                                            <td>@Html.DisplayFor(Modelitem => item.Fund_Request.total_value, new { htmlAttributes = new { @id = "rupiah" } })</td>
                                            <td>@item.Fund_Request.details_request</td>
                                            <td>@item.Fund_Request.status_request</td>
                                            <td>Pending</td>
                                        </tr>
                                    }
                                    else if (item.Fund_Request.status_request == "Send Fin" && (DateTime.Now - item.Fund_Request.date_request > TimeSpan.FromDays(3)))
                                    {
                                        <tr class="danger">
                                            <td style="text-align: center;">@(++a)</td>
                                            <td>@Html.DisplayName(String.Format("{0:dd/MM/yyyy}", @item.Fund_Request.date_request))</td>
                                            <td>@item.Fund_Request.service_request</td>
                                            <td style="text-align: center;">@item.Fund_Request.quantity_request</td>
                                            <td>@Html.DisplayFor(Modelitem => item.Fund_Request.price_per_unit_request, new { htmlAttributes = new { @id = "rupiah" } })</td>
                                            <td>@Html.DisplayFor(Modelitem => item.Fund_Request.total_value, new { htmlAttributes = new { @id = "rupiah" } })</td>
                                            <td>@item.Fund_Request.details_request</td>
                                            <td>@item.Fund_Request.status_request</td>
                                            <td>Expired</td>
                                        </tr>
                                    }
                                    else if (item.Fund_Request.status_request == "Block")
                                    {
                                        <tr class="danger">
                                            <td style="text-align: center;">@(++a)</td>
                                            <td>@Html.DisplayName(String.Format("{0:dd/MM/yyyy}", @item.Fund_Request.date_request))</td>
                                            <td>@item.Fund_Request.service_request</td>
                                            <td style="text-align: center;">@item.Fund_Request.quantity_request</td>
                                            <td>@Html.DisplayFor(Modelitem => item.Fund_Request.price_per_unit_request, new { htmlAttributes = new { @id = "rupiah" } })</td>
                                            <td>@Html.DisplayFor(Modelitem => item.Fund_Request.total_value, new { htmlAttributes = new { @id = "rupiah" } })</td>
                                            <td>@item.Fund_Request.details_request</td>
                                            <td>@item.Fund_Request.status_request</td>
                                            @if (item.Invoice_Director.details != null)
                                            {
                                                <td>@item.Invoice_Director.details</td>
                                            }
                                            else
                                            {
                                                <td>@item.Invoice_Finance.details</td>
                                            }
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="success">
                                            <td style="text-align: center;">@(++a)</td>
                                            <td>@Html.DisplayName(String.Format("{0:dd/MM/yyyy}", @item.Fund_Request.date_request))</td>
                                            <td>@item.Fund_Request.service_request</td>
                                            <td style="text-align: center;">@item.Fund_Request.quantity_request</td>
                                            <td>@Html.DisplayFor(Modelitem => item.Fund_Request.price_per_unit_request, new { htmlAttributes = new { @id = "rupiah" } })</td>
                                            <td>@Html.DisplayFor(Modelitem => item.Fund_Request.total_value, new { htmlAttributes = new { @id = "rupiah" } })</td>
                                            <td>@item.Fund_Request.details_request</td>
                                            <td>@item.Fund_Request.status_request</td>
                                            <td>@item.Invoice_Director.details</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END CONTENT-->
<!--BEGIN FOOTER-->
<div id="footer">
    <div class="copyright">
        <a href="http://themifycloud.com">2014 © KAdmin Responsive Multi-Purpose Template</a>
    </div>
</div>
<!--END FOOTER-->
