﻿@model LPE_Magac.Models.tbl_temp_user
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Layout/_Technician.cshtml";
    var id = Session["userID"];
    var name = Session["userName"];
    var email = Session["userEmail"];
    var password = Session["userPassword"];
    var address = Session["userAddress"];
    var pp = Session["userPicture"];
    var position = Session["userPosition"];
}
<!--BEGIN TITLE & BREADCRUMB PAGE-->
@using (Html.BeginForm("SaveEdit", "Technician", FormMethod.Post, new { enctype = "multipart/form-data", @id = "Form1" }))
{
    @Html.AntiForgeryToken()
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">
                Technician
            </div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a href="#">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="hidden"><a href="#">Dashboard</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">Dashboard</li>
        </ol>
        <div class="clearfix">
        </div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <!--BEGIN CONTENT-->
    <div class="page-content">
        <div id="tab-general">
            <div class="row mbl">
                <div class="col-lg-12">
                    <div class="col-md-12">
                        <div id="area-chart-spline" style="width: 100%; height: 300px; display: none;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Profile: @name</h2>
                            <div class="row mtl">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="text-center mbl"><img src="~/Content/images/avatar/@pp" alt="" class="img-responsive" /></div>
                                    </div>
                                    <table class="table table-striped table-hover">
                                        <tbody>
                                            <tr>
                                                <td>User Name</td>
                                                <td>@name</td>
                                            </tr>
                                            <tr>
                                                <td>Email</td>
                                                <td>@email</td>
                                            </tr>
                                            <tr>
                                                <td>Address</td>
                                                <td>@address</td>
                                            </tr>
                                            <tr>
                                                <td>Status</td>
                                                <td><span class="label label-success">Active</span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-9">
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a href="#tab-edit" data-toggle="tab">Edit Profile</a></li>
                                    </ul>
                                    <div id="generalTabContent" class="tab-content">
                                        <div id="tab-edit" class="tab-pane fade in active">
                                            <form action="#" class="form-horizontal">
                                                <h3>Account Setting</h3>
                                                <div class="form-group">
                                                    <label for="Username" class="control-label">
                                                        Username<i class="text-danger">*</i>
                                                    </label>
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.temp_user_name, new { htmlAttributes = new { @class = "form-control", @Value = @name, @text = @name, @values = @name, @placeholder = @name } })
                                                        @Html.ValidationMessageFor(model => model.temp_user_name, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="Password" class="control-label">
                                                        New Password<i class="text-danger">*</i>
                                                    </label>
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.temp_user_password, new { htmlAttributes = new { @class = "form-control", @type = "password", @Value = @password, @text = @password, @values = @password, @placeholder = @password } })
                                                        @Html.ValidationMessageFor(model => model.temp_user_password, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    <label for="Address" class="control-label">
                                                        Address
                                                    </label>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            @Html.EditorFor(model => model.temp_user_address, new { htmlAttributes = new { @class = "form-control", @Value = @address, @text = @address, @values = @address, @placeholder = @address }, rows = "10", cols = "82" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="temp_user_profile_picture" class="control-label">
                                                        Change Your Photo Profile<i class="text-danger">*</i>
                                                    </label>
                                                    <input type="file" name="file" class="form-control" />
                                                </div>
                                                <!--Not Editable-->
                                                <div class="form-group">
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.temp_user_email, new { htmlAttributes = new { @class = "form-control hidden", @Value = @email, @text = @email, @values = @email, @placeholder = @email } })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.temp_user_position, new { htmlAttributes = new { @class = "form-control hidden", @Value = @position, @text = @position, @values = @position, @placeholder = @position } })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-10">
                                                        @Html.EditorFor(model => model.fk_id_user, new { htmlAttributes = new { @class = "form-control hidden", @Value = @id, @text = @id, @values = @id, @placeholder = @id } })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label style="text-align:center">@Html.DisplayFor(model => model.ErrorMessage)</label>
                                                    </div>
                                                </div>

                                                <hr />
                                                <button type="submit" class="btn btn-green btn-block">Finish</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!--END CONTENT-->
<!--BEGIN FOOTER-->
<div id="footer">
    <div class="copyright">
        <a href="http://themifycloud.com">2014 © KAdmin Responsive Multi-Purpose Template</a>
    </div>
</div>
<!--END FOOTER-->
<script type="text/javascript">
    $("body").on("submit", "#Form1", function () {
        return confirm("Your profile, waiting for finance confirmation. Do you want to submit?");
    }
    );
</script>