.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.674805;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc0{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:30.000000px;}
.fs4{font-size:32.000000px;}
.fs3{font-size:40.000000px;}
.fs0{font-size:48.000000px;}
.fs2{font-size:60.000000px;}
.y1d{bottom:2.075001px;}
.yf{bottom:2.695000px;}
.y11{bottom:7.295000px;}
.y1c{bottom:11.274002px;}
.ye{bottom:11.894001px;}
.y1b{bottom:20.473003px;}
.y1a{bottom:29.672003px;}
.y19{bottom:38.871004px;}
.y0{bottom:108.500000px;}
.y18{bottom:111.498019px;}
.y17{bottom:207.166990px;}
.y16{bottom:217.070990px;}
.y15{bottom:325.070990px;}
.y14{bottom:337.070990px;}
.y13{bottom:418.170995px;}
.y12{bottom:483.063992px;}
.y10{bottom:547.456995px;}
.yd{bottom:575.553995px;}
.yc{bottom:611.951996px;}
.yb{bottom:622.451996px;}
.ya{bottom:632.951996px;}
.y9{bottom:643.451996px;}
.y8{bottom:666.102001px;}
.y7{bottom:679.302002px;}
.y6{bottom:716.071999px;}
.y5{bottom:725.422001px;}
.y4{bottom:734.771999px;}
.y3{bottom:744.122000px;}
.y2{bottom:753.472000px;}
.y1{bottom:767.175000px;}
.h9{height:11.199000px;}
.h8{height:20.398001px;}
.h3{height:21.870117px;}
.h7{height:23.296875px;}
.h6{height:23.328125px;}
.h5{height:29.121094px;}
.h2{height:31.992188px;}
.h4{height:43.681641px;}
.ha{height:46.750004px;}
.h1{height:670.000000px;}
.h0{height:792.000000px;}
.w2{width:23.000000px;}
.w4{width:38.900002px;}
.w6{width:59.000000px;}
.w5{width:77.750000px;}
.w3{width:351.500000px;}
.w7{width:354.099994px;}
.w1{width:543.500000px;}
.w0{width:612.000000px;}
.x6{left:6.168000px;}
.x13{left:8.164000px;}
.x11{left:9.275000px;}
.xa{left:12.116000px;}
.xb{left:13.229000px;}
.xf{left:15.496000px;}
.x12{left:18.855000px;}
.x10{left:20.392000px;}
.xd{left:29.767001px;}
.x0{left:34.500000px;}
.x17{left:43.075001px;}
.x7{left:55.899999px;}
.x5{left:63.299999px;}
.x1{left:125.439003px;}
.x2{left:126.800003px;}
.x8{left:153.743994px;}
.x4{left:255.675988px;}
.x3{left:268.684988px;}
.x9{left:405.899999px;}
.x16{left:423.049999px;}
.x15{left:425.073999px;}
.x14{left:430.837999px;}
.xc{left:443.299993px;}
.xe{left:519.549993px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:40.000000pt;}
.fs4{font-size:42.666667pt;}
.fs3{font-size:53.333333pt;}
.fs0{font-size:64.000000pt;}
.fs2{font-size:80.000000pt;}
.y1d{bottom:2.766668pt;}
.yf{bottom:3.593333pt;}
.y11{bottom:9.726667pt;}
.y1c{bottom:15.032003pt;}
.ye{bottom:15.858667pt;}
.y1b{bottom:27.297338pt;}
.y1a{bottom:39.562670pt;}
.y19{bottom:51.828005pt;}
.y0{bottom:144.666667pt;}
.y18{bottom:148.664025pt;}
.y17{bottom:276.222653pt;}
.y16{bottom:289.427986pt;}
.y15{bottom:433.427986pt;}
.y14{bottom:449.427986pt;}
.y13{bottom:557.561326pt;}
.y12{bottom:644.085323pt;}
.y10{bottom:729.942660pt;}
.yd{bottom:767.405327pt;}
.yc{bottom:815.935994pt;}
.yb{bottom:829.935994pt;}
.ya{bottom:843.935994pt;}
.y9{bottom:857.935995pt;}
.y8{bottom:888.136002pt;}
.y7{bottom:905.736003pt;}
.y6{bottom:954.762665pt;}
.y5{bottom:967.229335pt;}
.y4{bottom:979.695999pt;}
.y3{bottom:992.162666pt;}
.y2{bottom:1004.629333pt;}
.y1{bottom:1022.900000pt;}
.h9{height:14.932000pt;}
.h8{height:27.197334pt;}
.h3{height:29.160156pt;}
.h7{height:31.062500pt;}
.h6{height:31.104167pt;}
.h5{height:38.828125pt;}
.h2{height:42.656250pt;}
.h4{height:58.242188pt;}
.ha{height:62.333338pt;}
.h1{height:893.333333pt;}
.h0{height:1056.000000pt;}
.w2{width:30.666667pt;}
.w4{width:51.866669pt;}
.w6{width:78.666667pt;}
.w5{width:103.666667pt;}
.w3{width:468.666667pt;}
.w7{width:472.133325pt;}
.w1{width:724.666667pt;}
.w0{width:816.000000pt;}
.x6{left:8.224000pt;}
.x13{left:10.885333pt;}
.x11{left:12.366667pt;}
.xa{left:16.154667pt;}
.xb{left:17.638667pt;}
.xf{left:20.661333pt;}
.x12{left:25.140000pt;}
.x10{left:27.189333pt;}
.xd{left:39.689334pt;}
.x0{left:46.000000pt;}
.x17{left:57.433334pt;}
.x7{left:74.533332pt;}
.x5{left:84.399999pt;}
.x1{left:167.252004pt;}
.x2{left:169.066671pt;}
.x8{left:204.991992pt;}
.x4{left:340.901317pt;}
.x3{left:358.246651pt;}
.x9{left:541.199999pt;}
.x16{left:564.066666pt;}
.x15{left:566.765333pt;}
.x14{left:574.450666pt;}
.xc{left:591.066657pt;}
.xe{left:692.733324pt;}
}
