﻿@model LPE_Magac.Models.tbl_user

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_Login.cshtml";
}

<div class="page-form">
    <div class="panel panel-blue">
        <div class="panel-body pan">
            <div class="form-horizontal">
                @using (Html.BeginForm("Autherize", "Login", FormMethod.Post))
                {
                    <div class="form-body pal">
                        <div class="col-md-12" align="center">
                            <img src="~/Content/images/logo1.png" style="margin-top: -340px;">
                        </div>
                        <div class="col-md-12 text-center">
                            <h1 style="margin-top: -100px; font-size: 48px;">
                                Lintas Prima Energi
                            </h1>
                            <br />
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <img src="~/Content/images/avatar/profile-pic.png" class="img-responsive" style="margin-top: -35px;" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-md-3 control-label">
                                Email:
                            </label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <i class="fa fa-user"></i>
                                    <!--Validasi here-->
                                    @Html.EditorFor(model => model.user_email, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-md-3 control-label">
                            </label>
                            <div class="col-md-9">
                                @Html.ValidationMessageFor(model => model.user_email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-md-3 control-label">
                                Password:
                            </label>
                            <div class="col-md-9">
                                <div class="input-icon right">
                                    <i class="fa fa-lock"></i>
                                    @Html.EditorFor(model => model.user_password, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-md-3 control-label">
                            </label>
                            <div class="col-md-9">
                                @Html.ValidationMessageFor(model => model.user_password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label style="text-align:center">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                            </div>
                        </div>

                        <div class="form-group mbn">
                            <div class="col-lg-12" align="right">
                                <div class="form-group mbn">
                                    <div class="col-lg-3">

                                    </div>
                                    <div class="col-lg-9">
                                        <a href="@Url.Action("Register", "Login")" class="btn btn-default">Register</a>&nbsp;&nbsp;
                                        <input type="submit" class="btn btn-default" name="Sign In" value="Sign In">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
