﻿@model LPE_Magac.Models.tbl_register
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Layout/_Login.cshtml";

    List<SelectListItem>
    listItems = new List<SelectListItem>
        ();
    listItems.Add(new SelectListItem
    {
        Text = "Finance",
        Value = "finance"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Director",
        Value = "director"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Technician",
        Value = "technician"
    });

}
@using (Html.BeginForm("SaveRegister", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="page-form">
        <div class="panel-body pan">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    Register Form
                </div>
                <div class="panel-body pan">
                    <form action="#">
                        <div class="form-body pal">
                            <div class="form-group">
                                <label for="inputName" class="control-label">
                                    Name <i class="text-danger">*</i>
                                </label>
                                <div class="input-icon right">
                                    <i class="fa fa-user"></i>
                                    @Html.EditorFor(model => model.register_name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.register_name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="control-label">
                                    E-mail <i class="text-danger">*</i>
                                </label>
                                <div class="input-icon right">
                                    <i class="fa fa-envelope"></i>
                                    @Html.EditorFor(model => model.register_email, new { htmlAttributes = new { @class = "form-control", @type = "text", @id = "txtEmail", @name = "txtEmail", @onkeyup = "ValidateEmail()", @onchange = "UserCheck()" } })
                                    @Html.ValidationMessageFor(model => model.register_email, "", new { @class = "text-danger" })
                                    <span id="lblError" style="color: red"></span>
                                    <p id="Status" />
                                    <span style="color : red">@Html.DisplayFor(model => model.RegisterErrorMessage)</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPosition" class="control-label">
                                    Position <i class="text-danger">*</i>
                                </label>
                                <div class="row">
                                    <div class="col-xs-4">
                                        @Html.DropDownListFor(model => model.register_position, listItems, "Select Position", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.register_position, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="control-label">
                                    Password <i class="text-danger">*</i>
                                </label>
                                <div class="input-icon right">
                                    <i class="fa fa-lock"></i>
                                    @Html.EditorFor(model => model.register_password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                                    @Html.ValidationMessageFor(model => model.register_password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="register_profile_picture" class="control-label">
                                    @Html.ValidationMessageFor(model => model.register_profile_picture, "", new { @class = "text-danger" })
                                </label>
                                <input type="file" name="file" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="inputMessage" class="control-label">
                                    Address <i class="text-danger">*</i>
                                </label>
                                <div class="row">
                                    <div class="col-lg-12">
                                        @Html.TextAreaFor(model => model.register_address, new { htmlAttributes = new { @class = "form-control resizer" }, rows = "10", cols = "82" })
                                        @Html.ValidationMessageFor(model => model.register_address, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-actions text-right pal">
                                    <button type="submit" class="btn btn-primary">
                                        Submit
                                    </button>
                                    @Html.ActionLink("| Back to Login", "Index")
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
<script>
    function UserCheck() {
        $("#Status").html("Checking...");
        $.post("@Url.Action("CheckUsernameAvailability", "Login")",
            {
                userdata: $("#txtEmail").val()
            },
            function (data) {
                if (data == 0) {
                $("#Status").html('<font color="Green">Available !. you can take it.</font>');
                $("#txtEmail").css("border-color", "Green");

            }
            else {
                $("#Status").html('<font color="Red">That email is taken.Try Another.</font>');
                $("#txtEmail").css("border-color", "Red");
            }
        });
    }
</script>