﻿
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Layout/_Director.cshtml";
}

<!--BEGIN TITLE & BREADCRUMB PAGE-->
<!--BEGIN TITLE & BREADCRUMB PAGE-->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">
            Director
        </div>
    </div>
    <ol class="breadcrumb page-breadcrumb pull-right">
        <li><i class="fa fa-home"></i>&nbsp;<a href="#">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="hidden"><a href="#">Dashboard</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">About</li>
    </ol>
    <div class="clearfix">
    </div>
</div>
<!--END TITLE & BREADCRUMB PAGE-->
<!--BEGIN CONTENT-->
<div class="page-content">
    <div class="row">
        <div id="tab-general">
            <div class="col-lg-12">
                <div class="col-lg-4">
                    <img src="~/Content/images/logo1.png" style="margin: 60px 60px 60px 60px">
                </div>
                <div class="col-lg-6">
                    <center><h1>Azaz Perusahaan</h1></center>

                    <p>Dalam menjalankan usaha Jasa Inspeksi Teknik tersebut, PT. LINTAS PRIMA ENERGI, menganut Azas Perusahaan yang dituangkan sebagai : VISI, MISI, dan BUDAYA PERUSAHAAN (CORPORATE CULTURE).</p>
                    <p>VISI</p>
                    <ol class="pll">
                        <li>
                            Ikut mewujudkan instalasi ketenagalistrikan di Negara Republik Indonesia memenuhi kriteria Prima, Aman, dan Akrab lingkungan serta Efisien.
                        </li>
                    </ol>
                    <p>MISI</p>
                    <ol class="pll">
                        <li>
                            Menyediakan layanan jasa Inspeksi/Uji Laik Operasi sesuai standar yang berlaku dan memberikan pelayanan secara tepat waktu, tepat mutu dengan biaya yang kompetitif, serta selalu memberikan solusi terhadap masalah
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-lg-12">
                <h2 class="mbxl">IT Support</h2>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="member-team">
                            <img src="~/Content/images/andi.png" class="img-responsive" />
                            <h3>
                                Andianto Bhakti Nugroho
                                <small>Maintainer</small>
                            </h3>
                            <p>radenabn@gmail.com</p>
                            <ul class="social-icons list-unstyled list-inline mbl mtl">
                                <li><a href="https://www.instagram.com/radenabn/" data-hover="tooltip" data-original-title="instagram" class="instagram"><i class="fa fa-skype"></i></a></li>
                                <li><a href="https://twitter.com/radenabn" data-hover="tooltip" data-original-title="twitter" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="member-team">
                            <img src="~/Content/images/hafiz.png" class="img-responsive" />
                            <h3>
                                Hafiz Adhiyasa Pratama
                                <small>Maintainer</small>
                            </h3>
                            <p>hafizadhiyasapesat@gmail.com</p>
                            <ul class="social-icons list-unstyled list-inline mbl mtl">
                                <li><a href="https://www.facebook.com/asayihda" data-hover="tooltip" data-original-title="facebook" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END CONTENT-->
<!--BEGIN FOOTER-->
<div id="footer">
    <div class="copyright">
        <a href="http://themifycloud.com">2014 © KAdmin Responsive Multi-Purpose Template</a>
    </div>
</div>
<!--END FOOTER-->