﻿@model LPE_Magac.Models.tr_fund_request

@{
    ViewBag.Title = "FormOutcome";
    Layout = "~/Views/Layout/_Director.cshtml";
    var position = Session["userPosition"];
    var id = Session["userID"];
    var name = Session["userName"];
    var date = DateTime.Now.Year;
}

<!--BEGIN TITLE & BREADCRUMB PAGE-->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
        <div class="page-header pull-left">
            <div class="page-title">
                Director
            </div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li><i class="fa fa-home"></i>&nbsp;<a href="#">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="hidden"><a href="#">Funds</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
            <li class="active">Request Form</li>
        </ol>
        <div class="clearfix">
        </div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE-->
    <!--BEGIN CONTENT-->
    <div class="page-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel-body pan">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            Outcome Form
                        </div>
                        <div class="panel-body pan">
                            <form action="#">
                                <div class="form-body pal">
                                    <div class="form-group">
                                        <label for="Service" class="control-label">
                                            Service<i class="text-danger">*</i>
                                        </label>
                                        <div class="input-icon right">
                                            @Html.EditorFor(model => model.service_request, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.service_request, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName" class="control-label">
                                            Quantity<i class="text-danger">*</i>
                                        </label>
                                        <div class="input-icon right">
                                            @Html.EditorFor(model => model.quantity_request, new { htmlAttributes = new { @class = "form-control", @id = "quantity", @type = "text", @onkeyup = "OnChange(this.value)", @onKeyPress = "return isNumberKey(event)" } })
                                            @Html.ValidationMessageFor(model => model.quantity_request, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail" class="control-label">
                                            Price/Unit<i class="text-danger">*</i>
                                        </label>
                                        <div class="input-icon right">
                                            @Html.EditorFor(model => model.price_per_unit_request, new { htmlAttributes = new { @class = "form-control", @id = "price", @type = "text", @onkeyup = "OnChange(this.value)", @onKeyPress = "return isNumberKey(event)" } })
                                            @Html.ValidationMessageFor(model => model.price_per_unit_request, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail" class="control-label">
                                            Total Funds
                                        </label>
                                        <div class="input-icon right">
                                            @Html.EditorFor(model => model.total_value, new { htmlAttributes = new { @id = "total", @class = "form-control", @readonly = "readonly" } })
                                            @Html.ValidationMessageFor(model => model.total_value, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputMessage" class="control-label">
                                            Details
                                        </label>
                                        <div class="input">
                                            @Html.TextAreaFor(model => model.details_request, new { htmlAttributes = new { @class = "form-control resizer" }, rows = "10", cols = "82" })
                                        </div>
                                    </div>
                                    @Html.EditorFor(model => model.date_request, new { htmlAttributes = new { @class = "form-control hidden" } })
                                    @Html.EditorFor(model => model.applicant_request, new { htmlAttributes = new { @class = "form-control hidden", @Value = @name, @values = @name, @text = @name } })
                                    @Html.EditorFor(model => model.fk_id_user, new { htmlAttributes = new { @class = "form-control hidden", @Value = @id, @values = @id, @text = @id } })
                                    <div class="form-actions text-right pal">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!--END CONTENT-->
<!--BEGIN FOOTER-->
<div id="footer">
    <div class="copyright">
        <a href="http://themifycloud.com">2014 © KAdmin Responsive Multi-Purpose Template</a>
    </div>
</div>
<!--END FOOTER-->
