﻿@model LPE_Magac.ViewModel.FundsModel
@{
    var totalincome = Model.Incomes.Sum(x => x.total_fund_income).GetValueOrDefault();
    var totaloutcome = Model.Outcomes.Sum(x => x.total_fund_outcome).GetValueOrDefault();
    var balance = (double)totalincome - (double)totaloutcome;
    var balance2 = String.Format("{0:0,0}", balance);
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_Director.cshtml";
    var name = Session["userName"];
}
<!--BEGIN TITLE & BREADCRUMB PAGE-->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">
            Director
        </div>
    </div>
    <ol class="breadcrumb page-breadcrumb pull-right">
        <li><i class="fa fa-home"></i>&nbsp;<a href="#">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="hidden"><a href="#">Dashboard</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">Dashboard</li>
    </ol>
    <div class="clearfix">
    </div>
</div>
<!--END TITLE & BREADCRUMB PAGE-->
<!--BEGIN CONTENT-->
<div class="page-content">
    <div id="tab-general">
        <div id="sum_box" class="row mbl">
            <a href="">
                <div class="col-sm-6 col-md-6">
                    <div class="panel income db mbm">
                        <div class="panel-body">
                            <p class="icon">
                                <i class="icon fa fa-money"></i>
                            </p>
                            <h4 class="value">
                                <span>Rp </span><span>@balance2.ToString()</span>
                            </h4>
                            <p class="description">
                                Balance
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="@Url.Action("RequestFunds", "Director")">
                <div class="col-sm-6 col-md-6">
                    <div class="panel task db mbm">
                        <div class="panel-body">
                            <p class="icon">
                                <i class="icon fa fa-signal"></i>
                            </p>
                            <h4 class="value">
                                <span>@Model.Requests.Where(x => x.status_request == "Send Dir" && (DateTime.Now - x.date_request <= TimeSpan.FromDays(3))).Count().ToString()</span>
                            </h4>
                            <p class="description">
                                Request Funds
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="row mbl">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="portlet box">
                            <div class="portlet-header">
                                <div class="caption">Income Chart</div>
                                <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
                            </div>
                            <div class="portlet-body  collapse in">
                                <div class="table-responsive">
                                    <div id="income" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mbl">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="portlet box">
                            <div class="portlet-header">
                                <div class="caption">Outcome Chart</div>
                                <div class="tools"><i class="fa fa-chevron-up"></i><i data-toggle="modal" data-target="#modal-config" class="fa fa-cog"></i><i class="fa fa-refresh"></i><i class="fa fa-times"></i></div>
                            </div>
                            <div class="portlet-body  collapse in">
                                <div class="table-responsive">
                                    <div id="outcome" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--END CONTENT-->
    <!--BEGIN FOOTER-->
    <div id="footer">
        <div class="copyright">
            <a href="http://themifycloud.com">2014 © KAdmin Responsive Multi-Purpose Template</a>
        </div>
    </div>
    <!--END FOOTER-->
    <script>$(document).ready(function () {
            $.getJSON("/Finance/GetDataIncome", function (data) {
                var Date = []
                var Income = []
                for (var i = 0; i < data.length; i++) {
                    Date.push(data[i].date);
                    Income.push(data[i].count);
                }

                Highcharts.chart('income', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: ' '
                    },
                    subtitle: {
                        text: ' '
                    },
                    xAxis: {
                        categories: Date
                    },
                    yAxis: {
                        title: {
                            text: 'Rupiah'
                        }
                    },
                    plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: true
                            },
                            enableMouseTracking: false
                        }
                    },
                    series: [{
                        name: 'Income',
                        data: Income
                    }]
                });
            });
        });</script>
    <script>$(document).ready(function () {
            $.getJSON("/Finance/GetDataOutcome", function (data) {
                var Date = []
                var Outcome = []
                for (var i = 0; i < data.length; i++) {
                    Date.push(data[i].date);
                    Outcome.push(data[i].count);
                }

                Highcharts.chart('outcome', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: ' '
                    },
                    subtitle: {
                        text: ' '
                    },
                    xAxis: {
                        categories: Date
                    },
                    yAxis: {
                        title: {
                            text: 'Rupiah'
                        }
                    },
                    plotOptions: {
                        line: {
                            dataLabels: {
                                enabled: true
                            },
                            enableMouseTracking: false
                        }
                    },
                    series: [{
                        name: 'Outcome',
                        data: Outcome
                    }]
                });
            });
        });
    </script>
</div>