﻿@model IEnumerable<LPE_Magac.ViewModel.InvoiceModel>
@{
    ViewBag.Title = "RequestFunds";
    Layout = "~/Views/Layout/_Director.cshtml";
    var a = 0;
}

<!--BEGIN TITLE & BREADCRUMB PAGE-->
<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">
            Director
        </div>
    </div>
    <ol class="breadcrumb page-breadcrumb pull-right">
        <li><i class="fa fa-home"></i>&nbsp;<a href="#">Home</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="hidden"><a href="#">List Request Funds</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">List Request Funds</li>
    </ol>
    <div class="clearfix">
    </div>
</div>
<!--END TITLE & BREADCRUMB PAGE-->
<!--BEGIN CONTENT-->
<div class="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    List Request Funds
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="example1" class="table table-hover">
                            <thead>
                                <tr align="center">
                                    <th style="text-align: center;">No</th>
                                    <th style="text-align: center;">Date</th>
                                    <th style="text-align: center;">Name</th>
                                    <th style="text-align: center;">Service</th>
                                    <th style="text-align: center;">Quantity</th>
                                    <th style="text-align: center;">Price/Unit</th>
                                    <th style="text-align: center;">Total Funds</th>
                                    <th style="text-align: center;">Details</th>
                                    <th style="text-align: center;">Status</th>
                                    <th style="text-align: center;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OrderBy(x => x.Fund_Request.date_request).Reverse())
                                {
                                    if (item.Invoice_Director.status_invoice_director == "Approved")
                                    {
                                        <tr class="success">
                                            <td style="text-align: center;">@(++a)</td>
                                            <td>@Html.DisplayName(String.Format("{0:dd/MM/yyyy}", @item.Fund_Request.date_request))</td>
                                            <td>@item.Fund_Request.applicant_request</td>
                                            <td>@item.Fund_Request.service_request</td>
                                            <td style="text-align: center;">@item.Fund_Request.quantity_request</td>
                                            <td>@Html.DisplayFor(Modelitem => item.Fund_Request.price_per_unit_request, new { htmlAttributes = new { @id = "rupiah" } })</td>
                                            <td>@Html.DisplayFor(Modelitem => item.Fund_Request.total_value, new { htmlAttributes = new { @id = "rupiah" } })</td>
                                            <td>@item.Fund_Request.details_request</td>
                                            <td>@item.Invoice_Director.status_invoice_director</td>
                                            <td style="text-align: center;">Approved</td>
                                        </tr>
                                    }
                                    else if (item.Invoice_Director.status_invoice_director == "App Fin")
                                    {
                                        <tr class="warning">
                                            <td style="text-align: center;">@(++a)</td>
                                            <td>@Html.DisplayName(String.Format("{0:dd/MM/yyyy}", @item.Fund_Request.date_request))</td>
                                            <td>@item.Fund_Request.applicant_request</td>
                                            <td>@item.Fund_Request.service_request</td>
                                            <td style="text-align: center;">@item.Fund_Request.quantity_request</td>
                                            <td>@Html.DisplayFor(Modelitem => item.Fund_Request.price_per_unit_request, new { htmlAttributes = new { @id = "rupiah" } })</td>
                                            <td>@Html.DisplayFor(Modelitem => item.Fund_Request.total_value, new { htmlAttributes = new { @id = "rupiah" } })</td>
                                            <td>@item.Fund_Request.details_request</td>
                                            <td>@item.Invoice_Director.status_invoice_director</td>
                                            <td style="text-align: center;">
                                                <a href="@Url.Action("ApproveListRequest", "Director", new { id = item.Invoice_Director.fk_id_invoice_finance})"><button class="btn-success" style="margin-right: 3px" title="Approve"><i class="fa fa-check"></i></button></a>
                                                <a href="@Url.Action("RejectListRequest", "Director", new { id = item.Invoice_Director.fk_id_invoice_finance})"><button class="btn-red" title="block"><i class="fa fa-xing"></i></button></a>
                                            </td>
                                        </tr>
                                    }
                                    else if (item.Invoice_Director.status_invoice_director == "At Fin")
                                    {
                                        //not show
                                    }
                                    else
                                    {
                                        <tr class="danger">
                                            <td style="text-align: center;">@(++a)</td>
                                            <td>@Html.DisplayName(String.Format("{0:dd/MM/yyyy}", @item.Fund_Request.date_request))</td>
                                            <td>@item.Fund_Request.applicant_request</td>
                                            <td>@item.Fund_Request.service_request</td>
                                            <td style="text-align: center;">@item.Fund_Request.quantity_request</td>
                                            <td>@Html.DisplayFor(Modelitem => item.Fund_Request.price_per_unit_request, new { htmlAttributes = new { @id = "rupiah" } })</td>
                                            <td>@Html.DisplayFor(Modelitem => item.Fund_Request.total_value, new { htmlAttributes = new { @id = "rupiah" } })</td>
                                            <td>@item.Fund_Request.details_request</td>
                                            <td>@item.Invoice_Director.status_invoice_director</td>
                                            <td style="text-align: center;">Blocked</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END CONTENT-->
<!--BEGIN FOOTER-->
<div id="footer">
    <div class="copyright">
        <a href="http://themifycloud.com">2014 © KAdmin Responsive Multi-Purpose Template</a>
    </div>
</div>
<!--END FOOTER-->
