﻿@{
    var position = Session["userPosition"];
    if (Session["userID"] != null)
    {
        if (position == "technician")
        {
            <script type="text/javascript">
                alert("Anda Tidak Diizinkan Untuk Melihat Halaman Ini");
                document.location.href = "Technician/Index";
            </script>
        }
        else if (position == "finance")
        {
            <script type="text/javascript">
                alert("Anda Tidak Diizinkan Untuk Melihat Halaman Ini");
                document.location.href = "Finance/Index";
            </script>
        }
    }
    else
    {
        <script type="text/javascript">
            alert("Anda belum Login");
            document.location.href = "../Login/Index";
        </script>
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>LPE MAGAC</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="../images/icons/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../images/icons/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../images/icons/favicon-114x114.png">
    @Styles.Render("~/Css")
    @Scripts.Render("~/Js")

</head>
<body>
    <div>
        <!--BEGIN BACK TO TOP-->
        <a id="totop" href="#"><i class="fa fa-angle-up"></i></a>
        <!--END BACK TO TOP-->
        <!--BEGIN TOPBAR-->
        <div id="header-topbar-option-demo" class="page-header-topbar">
            @Html.Partial("NavTop")
        </div>
        <!--END TOPBAR-->
        <div id="wrapper">
            <!--BEGIN SIDEBAR MENU-->
            @Html.Partial("NavBarDirector")
            <!--BEGIN PAGE WRAPPER-->
            <div id="page-wrapper">
                @RenderBody()
            </div>
            <!--END PAGE WRAPPER-->
        </div>
    </div>
    <!-- Script -->
        <!--CORE JAVASCRIPT-->
        
        <script>
            $('#example1').dataTable({
            });
        </script>
        <script>
            $('#example2').dataTable({
            });
        </script>
        <script>
            $('#example3').dataTable({
            });
        </script>
    <script type="text/javascript">
        $(function () {
            jQuery(".fancybox").fancybox();
        });
    </script>

    <script type="text/javascript">
        var rupiah = document.getElementById('rupiah');
        rupiah.addEventListener('keyup', function (e) {
            // tambahkan 'Rp.' pada saat form di ketik
            // gunakan fungsi formatRupiah() untuk mengubah angka yang di ketik menjadi format angka
            rupiah.value = formatRupiah(this.value, 'Rp. ');
        });

        /* Fungsi formatRupiah */
        function formatRupiah(angka, prefix) {
            var number_string = angka.replace(/[^,\d]/g, '').toString(),
                split = number_string.split(','),
                sisa = split[0].length % 3,
                rupiah = split[0].substr(0, sisa),
                ribuan = split[0].substr(sisa).match(/\d{3}/gi);

            // tambahkan titik jika yang di input sudah menjadi angka ribuan
            if (ribuan) {
                separator = sisa ? '.' : '';
                rupiah += separator + ribuan.join('.');
            }

            rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
            return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
        }
    </script>
    <script>
        function OnChange(value) {
            var p1 = document.getElementById('total').value;
            var p2 = document.getElementById('tax').value = (p1 * 10) / 100;
            document.getElementById('totaltax').value = p1 - p2;
        }
    </script>

    <script>
        function OnChange(value) {
            var p1 = document.getElementById('quantity').value;
            var p2 = document.getElementById('price').value;
            document.getElementById('total').value = p1 * p2;
        }
    </script>
</body>
</html>
