﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>LPE MAGAC</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="../images/icons/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../images/icons/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../images/icons/favicon-114x114.png">
    <!--Loading bootstrap css-->
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link href="~/Content/assets/DT_bootstrap.css" rel="stylesheet" media="screen">
    <!-- <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen"> -->
    <!-- <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen"> -->
    @Styles.Render("~/Css")
   
</head>
<body>
    <div>
        <!--BEGIN BACK TO TOP-->
        <a id="totop" href="#"><i class="fa fa-angle-up"></i></a>
        <!--END BACK TO TOP-->
        <!--BEGIN TOPBAR-->
        <div id="header-topbar-option-demo" class="page-header-topbar">
            @Html.Partial("NavTop")
        </div>
        <!--END TOPBAR-->
        <div id="wrapper">
            <!--BEGIN SIDEBAR MENU-->
            @Html.Partial("NavBarFinance")
            <!--BEGIN PAGE WRAPPER-->
            <div id="page-wrapper">
                @RenderBody()
            </div>
            <!--END PAGE WRAPPER-->
        </div>
    </div>
    <!-- Script -->
    <div>
        <!--CORE JAVASCRIPT-->
        @Scripts.Render("~/Js")
        <script>
    $(function () {
            });</script>
        <script>
    var tax_data = [
                { "period": "2020-01", "income": 2407, "outcome": 660 },
                { "period": "2020-02", "income": 3351, "outcome": 729 },
                { "period": "2020-03", "income": 2469, "outcome": 1318 },
                { "period": "2020-04", "income": 2246, "outcome": 461 },
                { "period": "2020-05", "income": 3171, "outcome": 1676 },
                { "period": "2020-06", "income": 2155, "outcome": 681 },
                { "period": "2020-07", "income": 1226, "outcome": 620 },
                { "period": "2020-08", "income": 2245, "outcome": 500 }
            ];
            Morris.Line({
                element: 'hero-graph',
                data: tax_data,
                xkey: 'period',
                xLabels: "month",
                ykeys: ['income', 'outcome'],
                labels: ['Income', 'Outcome']
            });</script>
        <script src="script/main.js"></script>
        <script>
    (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-145464-12', 'auto');
            ga('send', 'pageview');</script>
    </div>
</body>
</html>
