﻿@{
    var position = Session["userPosition"];
    if (Session["userID"] != null)
    {
        if (position == "technician")
        {
            <script type="text/javascript">
                alert("Anda Tidak Diizinkan Untuk Melihat Halaman Ini");
                document.location.href = "Technician/Index";
            </script>
        }
    }
    else
    {
        <script type="text/javascript">
            alert("Anda belum Login");
            document.location.href = "../Login/Index";
        </script>
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>LPE MAGAC</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Css")
    @Scripts.Render("~/Js")

</head>
<body>

    <!--BEGIN BACK TO TOP-->
    <!--END BACK TO TOP-->
    <!--BEGIN TOPBAR-->
    <!--END TOPBAR-->
    <!--BEGIN SIDEBAR MENU-->
    <!--BEGIN PAGE WRAPPER-->

    <div id="newreportpage">
        @RenderBody()
    </div>

    <!--END PAGE WRAPPER-->
    <!-- Script -->
    <div>
        <!--CORE JAVASCRIPT-->
        
    </div>
</body>
</html>
