﻿@{
    var position = Session["userPosition"];
    if (Session["userID"] != null)
    {
        if (position == "director")
        {
            <script type="text/javascript">
                alert("Anda Tidak Diizinkan Untuk Melihat Halaman Ini");
                document.location.href = "Director/Index";
            </script>
        }
        else if (position == "finance")
        {
            <script type="text/javascript">
                alert("Anda Tidak Diizinkan Untuk Melihat Halaman Ini");
                document.location.href = "Finance/Index";
            </script>
        }
    }
    else
    {
        <script type="text/javascript">
            alert("Anda belum Login");
            document.location.href = "../Login/Index";
        </script>
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>LPE MAGAC</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="../images/icons/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../images/icons/favicon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../images/icons/favicon-114x114.png">
    <!--Loading bootstrap css-->
    @Scripts.Render("~/Js")
    @Styles.Render("~/Css")

</head>
<body>
    <div>
        <!--BEGIN BACK TO TOP-->
        <a id="totop" href="#"><i class="fa fa-angle-up"></i></a>
        <!--END BACK TO TOP-->
        <!--BEGIN TOPBAR-->
        <div id="header-topbar-option-demo" class="page-header-topbar">
            @Html.Partial("NavTop")
        </div>
        <!--END TOPBAR-->
        <div id="wrapper">
            <!--BEGIN SIDEBAR MENU-->
            @Html.Partial("NavBarTechnician")
            <!--BEGIN PAGE WRAPPER-->
            <div id="page-wrapper">
                @RenderBody()
            </div>
            <!--END PAGE WRAPPER-->
        </div>
    </div>
    <!-- Script -->
    <div>
        <!--CORE JAVASCRIPT-->
        <script>
            $('#example1').dataTable({
            });
        </script>
        <script>
            $('#example2').dataTable({
            });
        </script>
        <script>
            $('#example3').dataTable({
            });
        </script>

        <script>
            $(function () {
            });</script>
        <script>
            var tax_data = [
                { "period": "2020-01", "income": 2407, "outcome": 660 },
                { "period": "2020-02", "income": 3351, "outcome": 729 },
                { "period": "2020-03", "income": 2469, "outcome": 1318 },
                { "period": "2020-04", "income": 2246, "outcome": 461 },
                { "period": "2020-05", "income": 3171, "outcome": 1676 },
                { "period": "2020-06", "income": 2155, "outcome": 681 },
                { "period": "2020-07", "income": 1226, "outcome": 620 },
                { "period": "2020-08", "income": 2245, "outcome": 500 }
            ];
            Morris.Line({
                element: 'hero-graph',
                data: tax_data,
                xkey: 'period',
                xLabels: "month",
                ykeys: ['income', 'outcome'],
                labels: ['Income', 'Outcome']
            });</script>
        <script src="script/main.js"></script>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-145464-12', 'auto');
            ga('send', 'pageview');</script>
    </div>

    <script type="text/javascript">
        $(function () {
            jQuery(".fancybox").fancybox();
        });
    </script>

    <script type="text/javascript">
        var rupiah = document.getElementById('rupiah');
        rupiah.addEventListener('keyup', function (e) {
            // tambahkan 'Rp.' pada saat form di ketik
            // gunakan fungsi formatRupiah() untuk mengubah angka yang di ketik menjadi format angka
            rupiah.value = formatRupiah(this.value, 'Rp. ');
        });

        /* Fungsi formatRupiah */
        function formatRupiah(angka, prefix) {
            var number_string = angka.replace(/[^,\d]/g, '').toString(),
                split = number_string.split(','),
                sisa = split[0].length % 3,
                rupiah = split[0].substr(0, sisa),
                ribuan = split[0].substr(sisa).match(/\d{3}/gi);

            // tambahkan titik jika yang di input sudah menjadi angka ribuan
            if (ribuan) {
                separator = sisa ? '.' : '';
                rupiah += separator + ribuan.join('.');
            }

            rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
            return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
        }
    </script>
    <script>
        function OnChange(value) {
            var p1 = document.getElementById('total').value;
            var p2 = document.getElementById('tax').value = (p1 * 10) / 100;
            document.getElementById('totaltax').value = p1 - p2;
        }
    </script>

    <script>function OnChange(value) {
                var p1 = document.getElementById('quantity').value;
                var p2 = document.getElementById('price').value;
                document.getElementById('total').value = p1*p2;
        }
    </script>
</body>
</html>
